.container{
    display: flex;
    justify-content: center;
}

/* Report Button */
.reportbtn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(48, 9, 139);
}
.report-label {
    background-color: limegreen;
    padding: 30px 50px;
    margin: 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
    border: 4px solid white;
    transition: 0.3s;
}

.report-label:hover{
    background-color: darkgreen;

}

/* Content */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    width: 95%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 8em;
    overflow: hidden;
}

.report-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.side-report {
    background-color: #3c308f;
    padding: 20px;
    color: white;
    width: 30%;
}
.side-report img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.main-report {
    padding: 20px;
    width: 70%;
}
.main-report h2 {
    color: #2a1a6e;
    font-size: 24px;
}
.main-report p {
    font-size: 18px;
    color: #333;
    
}

/* Comment Section */
.comments-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 2px solid #ccc;
}
.comments-section h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}
.comment {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.comment p {
    font-size: 16px;
    color: #333;
}
.comment-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.comment-form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.comment-form button {
    padding: 10px 20px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comment-form button:hover {
    background-color: darkgreen;
}